#list {
  padding-top: 10px;
  font-family: garamond;
  #issues {
    font-size: 24px;
  }
  table {
    padding-top: 50px;
  }
  .table > tbody > tr > td {
    border-top: none;
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 16px;
  }
}
