html, body {
  padding: 0;
  margin: 0;
}

#mapDiv {
  max-height: 600px;
}

#messages {
  background-color: #fff;
  box-shadow: 0 0 5px #888;
  font-size: 1.1em;
  max-width: 15em;
  padding: 0.5em;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 40;
}

#list {
  padding-top: 10px;
  font-family: garamond;
  #issues {
    font-size: 24px;
  }
  table {
    padding-top: 50px;
  }
  .table > tbody > tr > td {
    border-top: none;
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 16px;
  }
}
