@import url(https://fonts.googleapis.com/css?family=Montserrat|Crimson+Text);

$display-font: 'Montserrat', sans-serif;
$base-font-family: 'Crimson Text', serif;

h1, h2, h3, a {
  font-family: $display-font;
}

p, input, textarea {
  font-family: $base-font-family;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: normal;
}
